*, ::after, ::before {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    tap-highlight-color: transparent
}

body, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, li, p, ul {
    margin: 0;
    padding: 0
}

html {
    background: #fff;
    font: 16px/1.5 'microsoft yahei'
}

input, textarea {
    font-size: 12px;
    font-family: "微软雅黑"
}

li {
    list-style: none
}

img {
    border: none;
    margin: 0;
    padding: 0
}

a {
    color: #000;
    text-decoration: none
}

body {
    background: #fff;
    color: #999
}

.left {
    float: left
}

.right {
    float: right
}

.clear {
    height: 0;
    clear: both
}

.margin_right {
    margin-right: 2%
}

.height {
    height: 5px;
    clear: both
}

.line {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #999
}

.gray {
    color: gray
}

.blue {
    color: #007BB1;
    font-size: 18px
}

.login_topbtn {
    padding: 5px 3px;
    margin-left: 5px;
    border-radius: 3px
}

.c_index_login {
    background-color: #65BBEC
}

#info {
    height: 30px;
    line-height: 30px;
    text-align: right;
    color: #fff;
    padding-right: 15px;
    background-color: #65bbec;
    font-size: 14px;
}

/*header*/
.header {
    background-color: #007BB1;
    font-size: 18px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    display: block
}

.header h1 {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    color: #fff
}

.header h1 a {
    color: #0C0
}

.logo {
    float: left;
    margin-left: 10px
}

.logo a {
    color: #fff
}

.reg {
    float: right;
    padding-right: 10px;
    font-size: 16px;
    color: #fff
}

.reg a {
    color: #fff
}

.box {
    background-color: #65bbec;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
    color: #fff;
    height: 20px;
    font-size: 14px
}

.back {
    float: left;
    padding: 0 10px;
    height: 28px;
    margin: 10px 10px;
    line-height: 26px;
    font-size: 14px;
    background-color: #65bbec;
    border-radius: 3px;
    width: 30px
}

.back_r {
    float: right;
    padding: 0 10px;
    height: 28px;
    margin: 10px 10px;
    line-height: 26px;
    font-size: 14px;
    background-color: #65bbec;
    border-radius: 3px;
    width: 30px
}

.back a, .back_r a {
    color: #fff;
}

/*nav*/
.nav {
    float: left;
    width: 100%;
    background-color: #ECF0F0;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    margin-bottom: 10px;
}

.nav ul li {
    color: #333;
    display: block;
    width: 19%;
    height: 26px;
    overflow: hidden;
    float: left;
    text-align: center;
}

/*search*/
.search {
    padding: 10px 5px 0 5px
}

.search .key {
    height: 20px;
    width: 90%;
    line-height: 20px;
    border: 0;
    color: #999;
    text-indent: 5px;
    font-size: 16px
}

.search .go {
    height: 30px;
    width: 35px;
    border: 0;
    background-color: transparent;
    z-index: 9999
}

.search .type {
    background-color: #fff;
    border: 1px solid #CCC;
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    color: #000
}

/*article*/
.article {
    margin: 10px auto 10px auto
}

.title {
    height: 35px;
    background: #ECF0F0;
    border-bottom: 1px solid #007BB1;
    color: #000;
    font-size: 16px;
    padding-left: 10px;
    line-height: 35px;
    font-weight: 400;
    font-weight: 700
}

.title a {
    float: right;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 400
}

.title span a {
    float: left;
    font-size: 16px;
    font-weight: 700
}

.title a.on {
    color: #623f01
}

.title .more {
    float: right;
    margin-right: 10px
}

.title .more a {
    color: #fff
}

.block {
    padding-left: 10px;
    padding-bottom: 10px;
}

.block_img {
    height: auto;
    border: 0;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left
}

.block_img2 {
    float: left;
    height: auto;
    border: 1px solid #DEDEDE;
    padding: 5px;
    overflow: hidden;
}

.block_txt {
    border: 0;
    height: 100px;
    overflow: hidden;
    line-height: 20px;
    padding-left: 10px;
    padding-top: 8px
}

.block_txt2 {
    border: 0;
    height: 130px;
    overflow: hidden;
    line-height: 22px
}

.block_txt2 h2 {
    font-size: 16px;
    height: auto;
    padding-left: 8px
}

.block_txt h2, .block_txt2 h2 {
    font-size: 16px;
    height: auto
}

.block_txt p, .block_txt2 p {
    height: auto;
    font-size: 14px
}

.block li {
    line-height: 35px;
    border-bottom: 1px solid #ECECEC
}

/*info*/
.cover {
    width: 99%;
    margin: 10px auto 10px auto;
    height: auto;
    overflow: hidden
}

.cover p {
    text-indent: 8px
}

.ablum {
    height: auto;
    overflow: auto;
    padding-bottom: 5px
}

.ablum_img img {
    float: left;
    padding: 2px;
    border: 1px solid #DEDEDE;
    overflow: hidden;
    background: url(/images/cover.jpg)
}

.ablum_img2 img {
    float: left;
    height: 85px;
    padding: 2px;
    border: 1px solid #DEDEDE;
    overflow: hidden;
    width: 70px;
    background: url(/images/cover.jpg)
}

.ablum_info {
    float: left;
    line-height: 28px;
    padding-left: 10px;
    font-size: 15px;
    height: 100px;
    overflow: hidden
}

.ablum div {
    height: auto
}

.ablum .new a {
    color: #007BB1;
    font-weight: 700
}

.ablum_read {
    height: auto;
    padding: 5px 0 5px 0;
    overflow: hidden
}

.ablum_read span {
    background: #65bbec;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 30%;
    float: left
}

.ablum_read span a {
    color: #fff;
    display: block
}

#new {
    height: 165px;
    width: 130px;
    background: 0 0
}

.intro {
    border-bottom: 1px solid #65bbec;
    background: #ECF0F0;
    height: 35px;
    line-height: 35px;
    padding-left: 8px;
    font-weight: 700;
    font-size: 15px;
    color: #000;
    margin-top: 5px
}

.intro_info {
    padding: 10px
}

.chapter li {
    border-bottom: 1px solid #efefef;
    text-indent: 10px;
    height: 40px;
    line-height: 40px;
    color: #999;
    overflow: hidden;
}

.chapter li a {
    display: block;
}

/*listpage*/
.listpage {
    width: 90%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 5px;
}

.listpage span {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.listpage .left {
    float: left;
    width: 25%;
}

.listpage .left a, .listpage .right a {
    display: inline-block;
    height: 30px;
    width: 90%
}

.listpage .left a {
    float: left;
}

.listpage .right a {
    float: right;
}

.listpage .right {
    float: right;
    width: 25%
}

.listpage .middle {
    width: 49%;
    border: 1px solid #dfdfdf;
    height: 28px;
    display: block;
    float: left;
    border-radius: 5px;
}

.listpage .middle em {
    display: inline-block;
    width: 80%;
    text-align: center;
    color: #999;
    font-style: normal;
    float: left;
    line-height: 30px;
    height: 30px
}

.listpage .middle a {
    display: inline-block;
    float: left;
    width: 19%;
    height: 30px;
    line-height: 30px;
    vertical-align: middle
}

.listpage .middle select {
    border: none;
    color: #999;
    display: inline-block;
    float: left;
    font-style: normal;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 100%
}

.listpage .onclick {
    background: #20a8e3;
    color: #FFFFFF;
}

.listpage .before {
    background: #cecece;
    color: #FFFFFF;
}

/*footer*/
.footer {
    height: 40px;
    background: #ECF0F0;
    border-top: 1px solid #f1f1f1;
    line-height: 40px;
    text-align: center;
}

.footer li {
    float: left;
    text-align: center;
    width: 33%;
    font-size: 16px
}

.footer li a {
    color: #000
}