body, h1, h2, h3, h4, h5, h6, p, div, ul, li, dl, dt, dd, h1 {
    margin: 0;
    padding: 0;
}

html {
    background: #fff;
    font: 16px/1.5 'microsoft yahei';
}

li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

i, em {
    font-style: normal;
}

body {
    background: #fff;
    color: #999;
}

.on {
    background-color: #CCCCCC;
}

.cl0 {
    clear: both;
    height: 0;
    line-height: 0;
    overflow: hidden
}

/*header*/
.header {
    background-color: #007BB1;
    font-size: 20px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    display: block;
}

.header h1 {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.header h1 a {
    color: #0C0;
}

.back {
    float: left;
    padding: 0 10px;
    height: 28px;
    margin: 10px 10px;
    line-height: 26px;
    font-size: 14px;
    background-color: #65bbec;
    border-radius: 3px;
    width: 30px;
}

.back_r {
    float: right;
    padding: 0 10px;
    height: 28px;
    margin: 10px 10px;
    line-height: 26px;
    font-size: 14px;
    background-color: #65bbec;
    border-radius: 3px;
    width: 30px;
}

.back a, .back_r a {
    color: #fff;
}

/*nav*/
.nav {
    float: left;
    width: 100%;
    background-color: #ECF0F0;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    margin-bottom: 10px
}

.nav ul li {
    color: #333;
    display: block;
    width: 19%;
    overflow: hidden;
    height: 35px;
    float: left;
    text-align: center
}

/*search*/
.search {
    padding: 10px 5px 0 5px
}

.search .key {
    height: 25px;
    width: 90%;
    line-height: 25px;
    border: 0;
    color: #999;
    text-indent: 5px;
    font-size: 16px
}

.search .go {
    height: 30px;
    width: 35px;
    border: 0;
    background-color: transparent;
    z-index: 9999
}

.search .type {
    background-color: #fff;
    border: 1px solid #CCC;
    width: 50px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    color: #000
}

/*footer*/
.footer {
    float: left;
    width: 100%;
    height: 30px;
    background: #ECF0F0;
    padding: 3px 0 0;
    border-top: 1px solid #f1f1f1;
    line-height: 26px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px
}

.footer li {
    float: left;
    text-align: center;
    width: 33%;
    font-size: 16px
}

.footer li a {
    color: #000
}

/*content*/
.content {
    width: 98%;
    margin-left: 5px;
    margin-top: 10px;
    color: #000
}

.content ul {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    margin-bottom: 10px
}

.content li {
    text-align: center;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.prev a {
    display: block;
    text-align: center;
    padding: 10px 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid #efefef
}

/* 分页 */
.listpage {
    width: 100%;
    padding: 10px 5px 10px 5px;
    color: #999;
    display: -webkit-box;
    box-sizing: border-box;
}

.listpage a {
    display: block;
    margin: 0 5px;
    line-height: 30px;
    border: solid 1px #DDD;
    text-align: center;
    -webkit-box-flex: 1;
    background-image: -webkit-linear-gradient(90deg, rgb(243, 243, 243) 0%, rgb(255, 255, 255) 100%);
}

.toptab {
    margin-top: 10px;
    display: -webkit-box;
    border: 1px solid #dfdfdf;
    border-width: 1px 0 1px 0;
    background: #f2f2f2
}

.toptab span {
    -webkit-box-flex: 1;
    text-align: center;
    line-height: 30px;
    display: block;
    color: #4c4c4c;
    height: 30px;
    border-right: 1px solid #dfdfdf;
    width: 0;
    overflow: hidden
}

.toptab span:last-child {
    border-right: 0
}

.toptab span.active {
    color: #000;
    border-bottom: 3px solid #3ba8de;
    overflow: hidden
}

/*临时书架*/
.bookbox {
    position: relative;
    zoom: 1;
    overflow: auto;
    padding: 14px 8px;
    border-bottom: 1px solid #dfdfdf
}

.bookbox::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}

.bookbox:hover {
    background: #f9f9f9
}

.bookbox .bookimg {
    float: left;
    margin-right: 10px;
    width: 74px;
    height: 98px
}

.bookimg img {
    width: 78px;
    height: 98px
}

.bookinfo {
    overflow: hidden;
    z-index: 2
}

.bookbox .bookname {
    font-size: 16px;
    color: #4c4c4c;
    height: 29px;
    overflow: hidden;
    display: -webkit-box;
    position: relative;
}

.bookbox .bookname div {
    -webkit-box-flex: 1;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}

.bookbox .bookname .iTit {
    overflow: hidden;
    max-width: 15em;
    display: block;
    height: 22px;
    line-height: 22px
}

.bookbox .author, .bookbox .cat {
    float: left;
    color: #8f8f8f;
    height: 24px;
    font-size: 13px
}

.bookbox .update, .bookbox .intro_line {
    color: #4c4c4c;
    font-size: 13px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.bookbox .update span, .bookbox .intro_line span, .bookbox .info span {
    color: #a8a8a8
}

.bookbox .info {
    color: #4c4c4c;
    font-size: 13px;
    line-height: 23px;
    height: auto;
}

.bookbox .delbutton {
    z-index: 999;
    position: absolute;
    right: 8px;
    top: 18px;
}

.bookbox .delbutton a {
    display: inline-block;
    width: 55px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    background: #f2f2f2;
    color: #4c4c4c;
}

.bookbox .delbutton .del_but {
    border: 1px solid #ff4643;
    background: none;
    color: #ff4643;
    box-sizing: border-box;
}

/**分页样式**/
.pages {
    clear: both;
    padding: 10px 0;
    color: #888;
    text-align: center
}

.pages li,.pages strong,.pages span {
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
    border-bottom: none;
}

.pages a,.pages strong,.pages span {
    display: inline-block;
    padding: 0 8px;
    border: 1px solid #ccc;
    background: #fff;
    color: #666;
    line-height: 20px
}

.pages a:hover,.pages .current a {
    border: 1px solid #4dbce5;
    background: #88C6E5;
    color: #fff;
    text-decoration: none
}

.pages span {
    border: 1px solid #fff;
    cursor: pointer
}

.pages li a.no_prev {
    border: 1px solid #f0f1f2;
    color: #bbb;
}

.m-category ul li{
    display: inline-block;
    width: 48%;
    margin-top: 5px;
}

